.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 10%;
}

.logo {
  width: 20%;
}

.navbar-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5em;
}

.navbar-flex li {
  list-style-type: none;
  padding: 1em 2em 1em 2em;
  font-size: 2.3em;
}

.navbar-flex a:hover {
  color: #36827F;
  text-decoration: underline;
}

.navbar-flex a {
  text-decoration: none;
  color: #464D77;
}