.cart-container {
  min-width: 90vw;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  min-height: 70vh;
}

.cart-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 0.1rem solid rgb(219, 219, 219);
}

.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-image {
  width: 20vw;
  height: 200px;
  margin-right: 10rem;
}

.cart-info {
  display: flex;
  justify-content: space-around;
}

.cart-info h2 {
  margin-right: 2rem;
  font-size: 4rem;
}

.cart-info p {
  font-size: 2.5rem;
}

.product-price {
  display: flex;
  align-items: center;
  margin-left: 10rem;
  margin-right: 5rem;
  font-size: 3rem;
}

.cart-summary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem;
  min-width: 100%;
  min-height: 20vh;
}

.cart-summary-description p {
  font-size: 4rem;
}

.cart-summary-price span {
  font-size: 3rem;
  color: rgb(167, 164, 164);
}

.rent-button {
  min-width: 30rem;
  color: white;
  background: #464d77;
  padding: 1.5rem;
  cursor: pointer;
  border: none;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.rent-button:hover {
  background: #36827f;
}

.cart-contact {
  font-size: 2rem;
  margin-bottom: 1rem;
}
